.middle-side {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 1500px;
  padding-left: 2%;
  padding-right: 2%;
  min-width: 250px;
  height: 975px;
  background: rgba(255, 255, 255, 0);

  border-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  overflow: hidden;

  z-index: 0;
}

.anim1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 800px;
  z-index: -1;
  position: absolute;
  /* background: linear-gradient(90deg, transparent, #6beee7); */
  background: var(--nammablue);
}
/* 
.middle-side:hover > .anim1 {
  top: 0;
  left: 20px;

  width: 100%;
  height: 100%;

  background: linear-gradient(90deg, transparent, #e6c77a);

  animation: animate1 1s ease forwards;
  animation-duration: 3s;
  cursor: pointer;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 60%;
  }
} */

.header {
  width: 100%;
  height: 6.5%;

  margin-top: 10px;
}

.headername {
  width: 100%;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
}

.content {
  width: 100%;
  height: 93.5%;
  overflow: hidden;
}

.content_headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8%;

  font-weight: 500;
  font-size: 20px;

  border-bottom: 2px;
  border-bottom-style: solid;
}

.all:hover {
  color: grey;
  border-bottom-color: grey;
}
.important:hover {
  color: grey;
}
.notes:hover {
  color: grey;
}
.links:hover {
  color: grey;
}

.content_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35%;
  padding-bottom: 30px;
  border-bottom: 2px;
  border-bottom-style: solid;
}

.same_content_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35%;
  padding-bottom: 30px;
  border-bottom: 2px;
  border-bottom-style: solid;
  overflow: auto;
}

.same_content_info::-webkit-scrollbar {
  background-color: white;

  width: 7px;
}

.same_content_info::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 5px;
}

.same_content_info::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.upcomingtask {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.upcomingtask > h2 {
  font-weight: 700;
}

.content_infobar1,
.content_infobar2,
.content_infobar3,
.content_infobar4,
.content_infobar5,
.content_infobar6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2%;
}

.same_content_infobar1,
.same_content_infobar2,
.same_content_infobar3,
.same_content_infobar4,
.same_content_infobar5,
.same_content_infobar6,
.same_content_infobar7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 100%; removed for adding scrollbar-3dlight-color: ;*/
  padding-top: 2%;
}

.same_info_two {
  margin-right: 15px;
}

.words {
  transition: 0.13s all;
}

.words:hover {
  transform: scale(0.98);
}

/* adding textures for all the buttons here */

.waiting {
  background-color: white;
  text-align: center;
  height: 25px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 9px;
  padding-bottom: 3px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.approved {
  background-color: white;
  /* background: linear-gradient(90deg, transparent, #6beee7); */
  text-align: center;
  height: inherit;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 9px;
  padding-bottom: 3px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.in-progress {
  background-color: white;
  text-align: center;
  height: 25px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 9px;
  padding-bottom: 3px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.in-review {
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  height: 25px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 9px;
  padding-bottom: 3px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/* need to add checkbox feature */
